<section class="card">
  <header class="card-title">{{title}}</header>

  <div class="card-body">
    <img src="/images/{{filename}}" />
    <p class="des">Description: {{description}}</p>
    <p>Sku # {{sku}}</p>
    <p>Modal # {{modal}}</p>
    <p>Price: {{price}}</p>
    <button class="btn btn-primary" @click="addToCart">Add to cart</button>
  </div>
</section>
